<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/gallery.css" />
    <script src="/js/gallery_client.js"></script>
    <style>
      .title{ text-align: center; } .container{ display: flex; align-items:
      center;} .c-left div{ margin: 10px 0; } .c-left{ width: 35%; text-align:
      center; } .c-right{ flex: 1; } .photo{ width: 400px; height: 400px;
      border: 6px solid #222; } .photoactive{ width: 200px; height:
      200px;position: relative;display: block; border: 6px solid #222;
      margin-bottom: 20px; } .clsContent button{ display: inline-block; width:
      100px;margin-right: 60px;} .clsContent button:last-child{ margin-right:
      unset;} .container{padding: 0 200px;} .clsUsernameLogout{
      margin-right:400px !important;width: unset !important; }
    </style>
  </head>
  <body>
    <h1 class="title">Web 322 Assignment1 Gallery</h1>
    <div class="container">
      <div class="clsSelection">
        <form id="formGallery" action="/gallery" method="post">

          {{!-- {{#each data}}
            <div>
              <label for="{{this}}">
                <input
                  type="radio"
                  name="image"
                  id="{{this}}"
                  value="{{this}}"
                />{{this}}
              </label>
            </div>
          {{/each}} --}}
          {{!-- {{photo_name}} --}}
          <select name="image" id="image">
          {{#each data}}
            {{#compare  photo_name 'eq' this}}
            <option value="{{this}}" selected disabled>{{this}}</option>
            {{else}}
            <option value="{{this}}">{{this}}</option>
            {{/compare}}
          {{/each}}
          </select>

          <button type="submit">submit</button>
        </form>
      </div>
      <div class="clsContent">
        <a id="aphotoactive" ondblclick="fSubmitphotoactive();">
          <img src="{{photo}}" class="photo {{photo_class}}" alt="" />
        </a>
        <form
          id="formPhoto"
          action="/photo"
          method="post"
          style="display: none;"
        >
          <input
            type="text"
            name="image"
            id="iphotoimg"
            value="{{photo_name}}"
          />
          {{!-- <div id="iphotoimgtxt">{{photo_name}}</div> --}}
        </form>
        {{#if photo_class}}
          <div>Leaf: {{photo_detail.filename}}</div>
          <div>From trees: {{photo_detail.description}}</div>
          <div>CAD: {{photo_detail.price}}</div>
          <div style="display: flex;justify-content: center;">
            <button onclick="fSubmitphotocansel();">Cansel</button>
            <button onclick="fSubmitphotobuy();">Buy</button>
          </div>
        {{/if}}

        {{#if photo_buy}}
          <script>
            alert('SOLID!!!'); document.getElementById("formGallery").action =
            "/gallery"; document.getElementById("formGallery").submit();
          </script>
        {{/if}}
      </div>

      <div class="clsImageName">
        {{photo}}
      </div>

      <div class="clsUsernameLogout">
        <div id="divUsername">{{form.txtUserName}}</div>
        <div id="divLogout"><a
            id="aLogout"
            onclick="fSubmitLogout();"
          >Logout</a></div>
      </div>
    </div>
  </body>
</html>